body {
  font-family: 'Poppins', sans-serif;
  font-style: italic;
      color: purple;
	  background-color: gray;
}

h2 {
  color: green;
  text-decoration: underline;
}

.main-title {
	color: purple;
}

p.{
  text-align: center;
  letter-spacing: 5px;
}